---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install base packages
  ansible.builtin.apt:
    name:
      - vim
      - curl
      - git
      - htop
    state: present

- name: Set timezone
  ansible.builtin.timezone:
    name: Europe/Berlin
